@import url('all.css');

.colors {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-align-items: flex-start;
    align-items: flex-start;

   -webkit-justify-content: start;
   justify-content: start;
}
